body,
html {
    height: 100%;
    margin: 0;
}
.container {
display: block;
padding: 20px;
overflow:hidden
}
.container-front {
    display: grid;
    place-items: center;
    margin-top: 25px;
    height: 60vh;
}

section {
    height: 50vh;
    display: block;
    padding: 20px;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
  .danfo{
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }
  
/* The hero image */
.hero-image {
    height: 60%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 11px 8px rgba(0, 0, 0, 0.3), 0 -2px 4px rgba(0, 0, 0, 0.2);

}
.image-on-right {
    position: absolute;
    top: 0;
    right: 0;
    width: auto; 
    height: 100%;
}

/* Place text in the middle of the image */
.hero-text {
    font-family: 'Danfo', serif;
    text-align: left;
    position: relative;
    padding: 40px;
    top: 50%;
    left: 50%;
    font-size: 150%;
    transform: translate(-50%, -50%);
    color: rgb(255, 253, 253);
}

.last-name {
    color: rgb(252, 38, 38);
}

.hero-paragraph {
    font-family: 'Anton';
    color: white;
    text-align: left;
    position: relative;
    font-size: 50%;
}
.mainparagraph {
    font-size: 70%;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
ul {
    list-style-type:none;
    margin: 0;
    padding: 0 20px;
    font-size: 70%;
    text-align: center;
}
ul li {
    margin-bottom: 10px;
}

body {
    font-family:'Anton';
    background-color: white;
}

p {
    Color: black;
}

footer {
    display: flex;
    justify-content: center;
    font-size: small;
}
.rounded-square {
    width: 250px; /* Width of the square */
    height: 100px; /* Height of the square */
    background-color: #070707; /* Background color */
    border-radius: 20px; /* Rounds the corners */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    text-align: center; /* Center text alignment */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}
.text {
    margin: 0;
    color: white;
    font-size: 24px;
}
